package ${package.Mapper};

import ${package.Entity}.${entity};
import com.github.yulichang.base.MPJBaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Mapper
public interface ${entity}Dao extends MPJBaseMapper<${entity}> {

}
#end
