package ${package.ServiceImpl};

import ${package.Mapper}.${table.mapperName};
import ${superServiceImplClassPackage};
import ${package.Entity}.${entity};

import org.springframework.stereotype.Service;

/**
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${entity}Service extends ${superServiceImplClass}<${table.mapperName}, ${entity}> {

}
#end
